body {
    
    display: flex;
    background: url(arrangement-black-friday-shopping-carts-with-copy-space.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(121, 118, 118);
}

.login {
    padding: 20px;
    background-color: rgba(121, 118, 118, 0.8); /* Slight transparency */
    
    text-align: center;
    width: 300px;
    border-radius: 8px;
    
}

h1 {
    color: #ccc;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    color: rgb(24, 25, 27);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 20px;
}

.input-div {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-div i {
    position: absolute;
    left: 10px; /* Position the icon on the left */
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%); /* Adjust alignment */
    font-size: 1.2rem;
    color: #111010; /* Optional: icon color */
}

.login input {
    width: 100%;
    padding: 10px 10px 10px 35px; 
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #192119;
    
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn i {
    margin-left: 10px;
}

.footer {
    position: absolute;
    bottom: 20px;
    color: rgb(207, 36, 36);
    text-align: center;
    width: 100%;
}

@media (max-width: 480px) {
    .login {
        padding: 15px;
        max-width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .login input {
        font-size: 0.9rem;
    }

    .submit-btn {
        font-size: 1rem;
    }
}
